<div class="mt-10 flex flex-col items-center gap-5">
  <div class="flex items-center justify-center">
    <div class="line"></div>
    <span class="text-2xl font-500 mx-5">TUBITECH</span>
    <div class="line"></div>
  </div>
  <div>
    <span class="text-5xl font-500">Yetkinliklerimiz</span>
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor expedita rerum suscipit? Adipisci facere facilis itaque officiis. Accusantium ad aspernatur at dicta, doloribus et fugiat fugit illum in, ipsam odio pariatur quam sunt tempora tenetur veritatis voluptate? Accusamus asperiores beatae eos eveniet harum nesciunt nihil nisi nostrum, officia omnis quia.</div>
</div>
