<div class="flex flex-col items-center" id="w-cont">  
  <div class="flex flex-row text-white w-full justify-evenly" id="f-cont">
         <div class="flex flex-col items-center gap-16" id="r-cont">
            <div class="flex">
               <div class="flex flex-col justify-center items-center">
                  <img src="../../../assets/images/whitelogo.png" class="w-36">
                  <span class="text-xl font-bold tracking-widest " id="font">TÜBİTECH</span>
               </div>
            </div>
            <div class="flex flex-col items-center gap-3" id="social-media">
               <span class="text-xl font-semibold">Bizi Takip Edin!</span>
               <div>
                  <i class="fa-brands fa-youtube fa-2xl"></i>
                  <i class="fa-brands fa-instagram fa-2xl"></i>
                  <i class="fa-brands fa-x-twitter fa-2xl"></i>
                  <i class="fa-brands fa-threads fa-2xl"></i>
                  <i class="fa-brands fa-facebook fa-2xl"></i>
               </div>
            </div>
         </div>
         <div class="flex flex-col items-center text-lg">
            <span class="font-semibold ">Keşfet</span>
            <div class="flex flex-col items-center mt-5" id="footer-menu">
               <span>Hakkımızda</span>
               <span>İletişim</span>
               <span>Projelerimiz</span>
               <span>Sponsorlarımız</span>
               <span>Neler Yapıyoruz</span>
               <span>Ödüllerimiz</span>
            </div>
         </div>
         <div class="flex flex-col items-center text-lg">
            <span class="font-semibold">Contact</span>
            <div class="flex flex-col items-center mt-5">
               <span>GSM: 0000000000</span>
               <span>Email: aaaaaa&#64;gmail.com</span>
            </div>
         </div>
      
   </div>
   <div class="flex justify-center" id="b-r">
      <span class="mt-5 mb-5">
         © 2024 FRC 9694 TUBITECH. All rights reserved.
      </span>
   </div>
</div>