#f-cont{
    background-color: #2c2f30 ;
    height: 100%;
    width: 100%;
    border-top: 1px solid #22D3EE;
  margin-bottom: 5%;
}
#font{
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#social-media div i{
    margin : .5rem
}
#f-cont > div{
    margin-top: 5rem ;
}
#footer-menu{
    color: #22D3EE;
}
#w-cont{
  height: 100%;
    width: 100%;
    background-color: #2c2f30;
    color : white;
}
#b-r{
    width: 100%;
    border-top: 5px solid #8b959711;

}
@media only screen and (max-width: 600px) {
  #f-cont {
    flex-direction: column;
  }
}
