<div class="mt-5 flex items-center flex-col gap-y-4 ">
    <ng-content></ng-content>
    <div class="flex w-3/4 border border-cyan-400 " id="nav-cont">
        <div>
            <mat-icon class="" fontIcon="home" ></mat-icon>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Hakkımızda</span>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">İletişim</span>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Projelerimiz</span>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Sponsorlarımız</span>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Neler Yapıyoruz</span>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Ödüllerimiz</span>
        </div>
        <div class="flex-auto flex justify-around no-pointer">
            <ng-content select="[logoOrTitle]"></ng-content>
        </div>
        <div>
            <span class="font-medium text-sm m-3 h-cyan">Dil Değiştir</span>
            <mat-icon class="sm-i" fontIcon="language" ></mat-icon>
        </div>
    </div>
</div>
    