<div id="about-cont" class="flex justify-center gap-16">
    <div class="flex gap-16 pt-6" id="inner-cont">
        <div class="" id="content-cont" >
            <div class="flex items-center gap-2">
                <div class="line"></div>
                <span class="text-xl font-normal" id="fontW">HAKKIMIZDA</span>
            </div>
            <div class="pt-3">
                <span class="text-5xl font-500" >Biz Kimiz?</span>
            </div>  
            <div id="text-area" class="flex flex-col gap-4">
                <span class="" id="about-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium modi minima autem quod nemo aliquam consequatur ducimus corrupti aut excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum accusantium eius nam blanditiis quo quam facilis quia ratione ipsam veniam.</span>
                <span id="">Daha fazla bilgi</span>
            </div> 
        </div>
        
    </div>
    <div class="h-96 w-1/4">
        <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Science_stream_jobs.jpg" alt="about" class="w-full h-full object-cover">
    </div>
</div>
