#about-cont{
    background-color: #fff;
    padding: 3%;
}

#inner-cont{
    letter-spacing: 0.1rem;
    width: 40%;
}
#text-area{
    margin-top: 2rem;
    border-left: 2px solid #C60619;
    padding-left: 1rem;
}

#content-cont{
    width: 100%;
}
#about-content{
    line-height: 1.5rem;
}
@media only screen and (max-width: 600px) {
  #imgS {
    display: none;
  }
  #inner-cont{
    width: 85%;
  }
}
