#about-cont{
    background-color: #fff;
    padding-top: 5rem;
}

#inner-cont{
    letter-spacing: 0.1rem;
}
#text-area{
    margin-top: 2rem;
    border-left: 2px solid #C60619;
    padding-left: 1rem;
}

#content-cont{
    width: 30rem;
}
#about-content{
    line-height: 1.5rem;
}