<div class="flex flex-col">
  <div id="home" #home>
    <div class="background-animation"><app-home></app-home></div>

  </div>
  <!-- <div #firstS class="none z-10">
    <div #navbar class="fixed w-full">
      <app-navbar>
        <p logoOrTitle class="" #tubitechTextSvg id="svgText">TÜBİTECH</p>
      </app-navbar>
    </div>
  </div> -->

  <div class="" id="about">
    <app-news></app-news>
    <app-about></app-about>
    <app-contact></app-contact>
  </div>
  <div class="spacer"></div>
  <app-footer></app-footer>
</div>
